body {
  background: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
a {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

.row {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 770px) {
    width: 100%;
  }
}

.button {
  background: black;
  color: white;
  border-radius: 0 !important;
}

#header {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
}
.header-logo a {
  display: inline-block;
  font-family: "Lobster", cursive;
  .xiong-red-letter {
    color: red;
  }
}
