.product {
  background: white;
  padding: 25px;
  border-top: 2px solid red;
  h2,
  h2 a {
    margin: 15px !important;
    color: #666;
    &:hover {
      opacity: 0.8 !important;
    }
  }
  .woocommerce-Price-amount {
    margin: 15px !important;
  }
  .add_to_cart_button,
  .single_add_to_cart {
    margin: 15px !important;
    background: black !important;
    color: white !important;
    font-family: "Raleway", sans-serif !important;
    font-weight: 300 !important;
    &:hover {
      opacity: 0.8 !important;
    }
  }
}
