.xiong_wc_wrap {
  background: white;
  padding: 25px;
}

a,
a:visited,
a:active {
  color: #666;
}

body .orderby,
.orderby:active,
.orderby:focus {
  height: 30px;
  border-radius: 0 !important;
  border: 1px solid black;
}
